

.main {
	max-width:100vw;
}
.header{
	background-color:#714423;
	padding:20px 30px;
	display:flex;
	justify-content:space-between; 

}


.a1{
	color:white;
	font-size:23px;
	text-decoration:none;
}
 a:hover{
	color:lightblue;
}




.heading{
	font-size:35px;
	color:white;
}
.menuu{
	display:flex;
	flex-direction:row;
	gap:10px;
}
@media screen and (max-width:480px){
.menu{
	color:white;
	font-size:20px;
	display:none;
	
}

.menuu{
	flex-direction:column;
	position:absolute;
	top:50px;
	right:2px;
	background-color:#714423;
	padding:15px 25px;
	opacity:0.8;
	
}

.icon{
	color:white;
	font-size:20px;
}
.a1{
	font-size:15px;
}
}
@media screen and (min-width:769px){
	
	.icon {
		display:none;
	}
	
}



.pro {
	display:flex;
	justify-content:center;
}

.project-container {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.sub{
	background-color:#D5B195;
	margin:30px 30px;
	width:70%;
	text-align:center;
	padding:20px  20px;
	border-radius:20px;
	box-shadow:2px 2px 5px #D5B195;
	animation-name:sub;
    border:3px solid  #D5B195;
} 

#sub11{
	animation-duration:2s;
}
#sub12{
	animation-duration:3s;
}
#sub13{
	animation-duration:4s;
}
#sub14{
	animation-duration:5s;
}
#sub15{
	animation-duration:6s;
}
#sub16{
	animation-duration:7s;

}
#sub17{
	animation-duration:8s;
}
#sub18{
	animation-duration:9s;
}
#sub19{
	animation-duration:10s;
}
#sub20{
	animation-duration:11s;

}
#sub21{
	animation-duration:12s;
}
#sub22{
	animation-duration:13s;
}
#sub23{
	animation-duration:14s;
}

@keyframes sub {
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
.sub:hover{
	border:3px solid  #714423;
	transform:scale(1.1);
}
.btn1{
	margin-top:20px;
	padding:5px 15px;
	border-radius:10px;
	background-color: #714423;
	color:#D5B195; 
}  

.git{
	margin-top:20px;
	margin-lift:10px;
	padding:5px 15px;
	border-radius:10px;
	background-color: #714423;
	color:#D5B195; 
}  


.subname{
	padding:10px;
	color:#714423;
	font-size: 30px;
}
.name{
	color:white;
	font-size:20px;
	text-align:center;
	padding:40px 0 0 0;
}
.section1{
	background-color: #714423;
	
	border-top:3px solid #D5B195;
	border-bottom:3px solid #D5B195;
}
.last{
	text-align:center;
	background-color: #714423; 
	padding:20px;
	color:white;
}
.voo{
	display: flex;
	gap:10px;
	justify-content: center;
}
h2{
	font-size: 40px;
}